
test.py
.DS_Store
__pycache__/secret_keys.cpython-312.pyc
src/transcription/__pycache__/__init__.cpython-312.pyc
src/transcription/__pycache__/transcriber.cpython-312.pyc
src/transcription/__pycache__/youtube_loader.cpython-312.pyc
secret_keys.py

src/content_processing/__pycache__/__init__.cpython-312.pyc
src/content_processing/__pycache__/analyzer.cpython-312.pyc
src/content_processing/__pycache__/secret_keys.cpython-312.pyc
src/transcription/__pycache__/__init__.cpython-39.pyc
src/transcription/__pycache__/transcriber.cpython-39.pyc
src/presentation/__pycache__/slide_generator.cpython-312.pyc
src/presentation/__pycache__/__init__.cpython-312.pyc
~$output.pptx
*.pyc
src/image_service/__pycache__/image_generator.cpython-312.pyc
src/image_service/__pycache__/__init__.cpython-312.pyc
